<mat-card>
    <mat-card-header>
    <mat-card-title>
        <h1 i18n>User List Page</h1>
    </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <button mat-raised-button color="primary" routerLink="/first-page">
            <span i18n>First page</span>
        </button>
        <br /><br />
        <mat-form-field appearance="outline">
            <mat-label>Select a user type:</mat-label>
            <mat-select  #choosedValue (valueChange)="onChange(choosedValue.value)">
              <mat-option value="warehouse">Warehouse</mat-option>
              <mat-option value="grower">Grower</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <br />
        <div>
            <table mat-table [dataSource]="rolaps" class="mat-elevation-z8">

                <p>
                    <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef i18n> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                </p>
                <p>
                    <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef i18n> Endereço </th>
                    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                    </ng-container>
                </p>
    
                <p>
                    <ng-container matColumnDef="phone_number">
                    <th mat-header-cell *matHeaderCellDef i18n> Phone number </th>
                    <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
                    </ng-container>
                </p>
    
            
                <p>
                    <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef i18n> Gender </th>
                    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                    </ng-container>
                </p>
    
    
                <p>
                    <ng-container matColumnDef="years_of_experience">
                    <th mat-header-cell *matHeaderCellDef i18n> Years of experience </th>
                    <td mat-cell *matCellDef="let element"> {{element.years_of_experience}} </td>
                    </ng-container>
                </p>
    
    
                <p>
                    <ng-container matColumnDef="educational_qualification">
                    <th mat-header-cell *matHeaderCellDef i18n> Educational Qualification </th>
                    <td mat-cell *matCellDef="let element"> {{element.educational_qualification}} </td>
                    </ng-container>
                </p>
    
                <p>
                    <ng-container matColumnDef="inventory_management_certification">
                    <th mat-header-cell *matHeaderCellDef i18n> Inventory management certification </th>
                    <td mat-cell *matCellDef="let element"> {{element.inventory_management_certification}} </td>
                    </ng-container>
                </p> 

                <p>
                    <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef i18n> Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                    </ng-container>
                </p>
        
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>


        <!-- <div>
            <table mat-table [dataSource]="rolaps" class="mat-elevation-z8">

         
                <p>
                    <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef i18n> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                </p>
                <p>
                    <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef i18n> Endereço </th>
                    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                    </ng-container>
                </p>
    
                <p>
                    <ng-container matColumnDef="phone_number">
                    <th mat-header-cell *matHeaderCellDef i18n> Phone number </th>
                    <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
                    </ng-container>
                </p>
    
            
                <p>
                    <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef i18n> Gender </th>
                    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                    </ng-container>
                </p>
    
    
                <p>
                    <ng-container matColumnDef="batches_handled">
                    <th mat-header-cell *matHeaderCellDef i18n> Batches handled </th>
                    <td mat-cell *matCellDef="let element"> {{element.batches_handled}} </td>
                    </ng-container>
                </p>
    
    
                <p>
                    <ng-container matColumnDef="yield_acquired">
                    <th mat-header-cell *matHeaderCellDef i18n> Yield acquired </th>
                    <td mat-cell *matCellDef="let element"> {{element.yield_acquired}} </td>
                    </ng-container>
                </p>
     
    
                <p>
                    <ng-container matColumnDef="greenhouse_locations">
                    <th mat-header-cell *matHeaderCellDef i18n> Greenhouse locations </th>
                    <td mat-cell *matCellDef="let element"> {{element.greenhouse_locations}} </td>
                    </ng-container>
                </p> 

                <p>
                    <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef i18n> Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                    </ng-container>
                </p>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div> -->

        
    </mat-card-content>
</mat-card>

