table {
    width: 100%;
  }

button  {
    margin: 0 0 0 20px;
}

.hidden {
    display: none;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    margin: 0 15px 0 0;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 2px !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}