<div *ngIf="create_user; else leftcreateuser">
    <mat-card>
        <mat-card-header>
        <mat-card-title>
            <h1 i18n>User List Page</h1>
        </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <button mat-raised-button color="primary" (click)="createUser($event);">
                <span i18n>Create User</span>
            </button>
            <button mat-raised-button color="accent" routerLink="/second-page">
                <span i18n>Created Users</span>
            </button>
            <br />
            <br />
            <table mat-table [dataSource]="rolaps" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
                <!-- Position Column -->
                <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef i18n> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="phone_number">
                <th mat-header-cell *matHeaderCellDef i18n> Phone number </th>
                <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef i18n> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>
<ng-template #leftcreateuser>
    <mat-card>
        <mat-card-header>
        <mat-card-title>
            <h1 i18n>Create a user</h1>
        </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <button mat-raised-button color="accent" (click)="leftcreateUser();">
                <span i18n>Back</span>
            </button>
            <button mat-raised-button color="primary" (click)="createUser();">
                <span i18n>List users</span>
            </button>
        </mat-card-content>
        <br />
        <br />
        <mat-form-field appearance="outline">
            <mat-label>Select a user type:</mat-label>
            <mat-select #usertype (valueChange)="onChangeUser(usertype.value)">
              <mat-option value="1">Grower</mat-option>
              <mat-option value="2">warehouse</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <br />
        <h2>{{user_type_title}} form:</h2>
        <br />
        <div *ngIf="create_user_area; else warehouses">
            <mat-card-content>
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Type your full name">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Address</mat-label>
                  <input matInput placeholder="Type your full address">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Phone number</mat-label>
                  <input matInput placeholder="Insert your phone number">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select>
                      <mat-option value="one">Female</mat-option>
                      <mat-option value="two">Male</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Years of experience</mat-label>
                  <input matInput placeholder="Years of experience">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Educational qualification</mat-label>
                  <input matInput placeholder="Educational qualification">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>inventory management certification</mat-label>
                    <mat-select>
                      <mat-option value="1">Yes</mat-option>
                      <mat-option value="2">No</mat-option>
                    </mat-select>
                </mat-form-field>
              <br />
              <br />
                <button mat-raised-button color="accent" (click)="openDialog()">
                    <span i18n>SAVE</span>
                </button>
            </mat-card-content>
        </div>
        <ng-template #warehouses>
            <mat-card-content>
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Type your full name">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Address</mat-label>
                  <input matInput placeholder="Type your full address">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Phone number</mat-label>
                  <input matInput placeholder="Insert your phone number">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select>
                      <mat-option value="one">Female</mat-option>
                      <mat-option value="two">Male</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>batches handled</mat-label>
                  <input matInput placeholder="Batches handled">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Yield acquired</mat-label>
                  <input matInput placeholder="Yield acquired ">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Greenhouse locations</mat-label>
                    <mat-select>
                      <mat-option value="Location1">Location 1</mat-option>
                      <mat-option value="Location2">Location 2</mat-option>
                      <mat-option value="Location3">Location 3</mat-option>
                      <mat-option value="Location4">Location 4</mat-option>
                    </mat-select>
                </mat-form-field>
              <br />
              <br />
                <button mat-raised-button color="accent" (click)="openDialog()">
                    <span i18n>SAVE</span>
                </button>
            </mat-card-content>
        </ng-template>
    </mat-card>
</ng-template>
    