<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
  <p>Confirm to save?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onYesClick()" cdkFocusInitial>Yes</button>
</div>